extends base

mixin reviewCard(review)
    .reviews__card(style='margin:5rem auto;')
        .reviews__avatar
            - if(review.user)
                a.btn.btn--green(style='padding:0.5rem 1.5rem; font-size:1.5rem' href=`/tour/${review.tour.slug}#`)= review.tour.name
        p.reviews__text= review.review
        
        .reviews__rating
            each star in [1, 2, 3, 4, 5]
                svg.reviews__star(class=`reviews__star--${review.rating >= star ? 'active' : 'inactive'}`)
                    use(xlink:href='/img/icons.svg#icon-star')
        - if(user)
            - if (review.user.id === user.id)
                .reviews__change 
                    button.review__change.review__edit(data-tourid=`/tour/${review.tour.slug}/#review--form`) Edit
                    button.review__change.review__delete(data-reviewid=`${review.id}`) Delete

block content
    .reviews
        each review in reviews
            +reviewCard(review)